# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Build / artifact folders
.cache
.turbo
coverage
.next
out
build
android
ios
*.keystore
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# local env
.env.local
.env.*.local

# JetBrains
.idea/

# Large artifacts
*.zip
*.zip/
.eslint-report.json

# Playwright test artifacts
/playwright-report/
/test-results/
/test-results.json
/test-results.xml
